
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>re</title>
</head>
<body>
    pt bậc 1
    <form action="/form/re" method="post">
        <label>Số 1:</label><br>
        <input name="soa" type="text" id="soa"><br>
        <label for="lname">Số 2:</label><br>
        <input name="sob" type="text" id="sob"><br><br>
        <input type="submit" value="tinh">
        kết quả : @ViewBag.kq
        </form>
</body>
</html>
